/* ==========================================================================
   About Me
   ========================================================================== */

.about-me {
	padding: 15px 0;

	p {
		padding-bottom: 20px;
		color: $bodyText; }

	h1, h2 { font-weight: 400; }

	h2 {
		color: #fff;
		padding: 10px 0;
	}

	.inner {
		@include span( 3 of 5 );
	}

	aside {
		@include span( 1.5 of 5 last );
		box-sizing: border-box;
		padding: 20px;
		background: $asideBg;

		h4, p { color: $asideText; }
		p { padding-bottom: 0; }
	}

}