/* ==========================================================================
   Contact Me
   ========================================================================== */

.contact-me {

	h1, h2 { 
		font-weight: 400; }

	p {
		padding-bottom: 20px;
		color: $bodyText; }

}