/* ==========================================================================
   Grid
   ========================================================================== */

$susy: (
	math: fluid,
	output: float,
	gutter-position: inside,
	global-box-sizing:border-box,
	spread:1,
	container: auto,
	container-position: center,
	columns: 4,
	gutters: 0,
	column-width: 275px,
);

html {
  	font-size: 62.5%;
}

body {
	background: $background;
}

.container {
	padding: 0 20px;
	@include container();
}

main { margin-bottom: 100px; }