/* ==========================================================================
   Main
   ========================================================================== */

nav {
	@include clearfix();
	background: $lighter;
	height: 50px;
	padding: 10px 0;
	margin-bottom: 1px;
	box-sizing: border-box;

	h1 {
		float: left;
		padding-left: 15px;

		span {
			color: $fadeTitle;
			@include font-size( 1.2 );
		}
	}

	ul {
		float: right;
		list-style-type: none;
		padding: 0 15px 0 0;
		margin: 0;
		font-weight: 300;
		line-height: 30px;

		li {
			display: inline-block;
			letter-spacing: 0.15em;
			text-transform: uppercase;
			margin-left: 15px;
			@include font-size( 1.2 );
		}
	}
}

@media (max-width: 680px) {

	nav {
		height: auto;

		ul {
			clear: both;
			width: 100%;
			padding: 0;
		}
	}

}


.intro {
	padding: 20px;
	text-align: center;
	color: #fff;

	p { padding: 20px 20% 0; }
}


.portfolio {
	@include clearfix();

	&.selected {
		.item { 

			&:after { background: rgba( 0 , 0 , 0 , 0.9 ); }
			&.inner { opacity: 0; }

			&:hover {
				&:after { background: rgba( 0 , 0 , 0 , 0.9 ); }
				.inner { opacity: 0; }
			}

			&.highlight {
				
			}

		}
	}

	.item {
		@include span( 1 of 5 );
		padding-bottom: span( 1 of 5 );
		position: relative;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		height: 0;
		cursor: pointer;

		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			transition: background 0.3s ease-in-out;
		}

		&:hover {
			&:after {
				background: rgba( 0 , 0 , 0 , 0.7 );
			}
			.inner { opacity: 1; }
		}

		.inner {
			pointer-events:none;
			opacity: 0;
			position: absolute;
			left: 0;
			width: 90%;
			padding: 5%;
			z-index: 5;
			transition: opacity 0.4s ease-in-out;
			transition-delay: 0.15s;
			color: $title; }

		// Vertical Positioning
		&.top .inner { top: 0; }

		&.middle .inner {
			top: 50%;
			transform: translateY(-50%); }

		&.bottom .inner { bottom: 0; }

		// Horizontal Positioning
		&.left .inner { text-align: left; }
		&.center .inner { text-align: center; }
		&.right .inner { text-align: right; }


		&.double {
			@include span( 2 of 5 );
			padding-bottom: span( 2 of 5 );
		}

		&.double_wide {
			@include span( 2 of 5 );
			padding-bottom: span( 1 of 5 );
		}

		&.double_tall {
			@include span( 1 of 5 );
			padding-bottom: span( 2 of 5 );
		}
	}
}


@media (max-width: 900px) {

	.portfolio {
		.item {
			@include span( 2 of 4 );
			padding-bottom: span( 1 of 4 );

			&.double, &.double_tall  {
				@include span( 2 of 4 );
				padding-bottom: span( 2 of 4 );
			}

			&.double_wide {
				@include span( 2 of 4 );
				padding-bottom: span( 1 of 4 );
			}

		}
	}

}


@media (max-width: 680px) {

	.portfolio {
		.item {
			@include span( 1 of 1 );
			padding-bottom: span( 1 of 1 );

			&.double, &.double_tall, &.double_wide {
				@include span( 1 of 1 );
				padding-bottom: span( 1 of 1 );
			}

			&.double_wide {
				@include span( 1 of 1 );
				padding-bottom: span( 0.5 of 1 );
			}

		}
	}

}











