/* ==========================================================================
   Main
   ========================================================================== */

nav {
	@include clearfix();
	background: $lighter;
	height: 50px;
	padding: 10px 15px;
	box-sizing: border-box;

	h1 {
		float: left;

		span {
			color: $fadeTitle;
			@include font-size( 1.2 );
		}
	}

	ul {
		float: right;
		list-style-type: none;
		padding: 0;
		margin: 0;
		font-weight: 300;
		line-height: 30px;

		li {
			display: inline-block;
			letter-spacing: 0.15em;
			text-transform: uppercase;
			margin-left: 15px;
			@include font-size( 1.2 );
		}
	}
}

.portfolio {
	@include clearfix();

	.item {
		@include span( 1 of 5 );
		padding-bottom: span( 1 of 5 );
		position: relative;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		height: 0;

		.inner {
			position: absolute;
			top: 0;
			left: 0;
			width: 90%;
			padding: 5%;
			text-align: center;
			color: $title;
		}


		&.double {
			@include span( 2 of 5 );
			background-color: blue;
			padding-bottom: span( 2 of 5 );
		}

		&.double_wide {
			@include span( 2 of 5 );
			background-color: green;
			padding-bottom: span( 1 of 5 );
		}

		&.double_tall {
			@include span( 1 of 5 );
			background-color: yellow;
			padding-bottom: span( 2 of 5 );
		}
	}
}















