/* ==========================================================================
   Main
   ========================================================================== */

.page-title {
	text-align: left;
	padding: 30px 0 0 0;
	line-height: 1.4;
	text-transform: none;
	@include font-size( 3 );
}

.page-sub-title {
	text-align: left;
	padding: 0 0 30px 0;
	line-height: 1.4;
	text-transform: none;
	@include font-size( 4 );
	color: $subTitle;
}


nav {
	clear: both;
	@include clearfix();
	box-sizing: border-box;
	background: $navBg;

	ul {
		@include clearfix();
		list-style-type: none;
		padding: 0;
		font-weight: 400;
		line-height: 60px;
		margin: 0 auto;

		li {
			float: left;
			letter-spacing: 0.15em;
			text-transform: uppercase;
			@include font-size( 1.3 );

			a, &:after {
				padding: 0 10px;

				@media (max-width: 480px) { 
					padding: 0 5px;
				}
			}

			a {
				float: left; }

			&:after {
				float: right;
				content: '\2022';
				color: $background;
				@include font-size( 1.6 );
			}

			&:nth-last-child(2):after, &:last-child:after { display: none; }

			&.talk {
				float: right;
				background: $highlight;
				line-height: 18px;
				padding: 12px 20px;
			}

		}
	}
}

.portfolio {
	@include clearfix();

	&.selected {
		.item { 

			&:after { background: rgba( 0 , 0 , 0 , 0.9 ); }
			&.inner { opacity: 0; }

			&:hover {
				&:after { background: rgba( 0 , 0 , 0 , 0.9 ); }
				.inner { opacity: 0; }
			}

			&.highlight {
				
			}

		}
	}

	.item {
		@include span( 1 of 4 );
		padding-bottom: span( 1 of 4 );
		position: relative;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		height: 0;
		cursor: pointer;

		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			transition: background 0.3s ease-in-out;
		}

		&:hover {
			&:after {
				background: rgba( 105 , 210 , 231 , 0.8 );
			}
			.inner { opacity: 1; }
		}

		.inner {
			pointer-events:none;
			opacity: 0;
			position: absolute;
			left: 0;
			width: 90%;
			padding: 5%;
			z-index: 5;
			transition: opacity 0.4s ease-in-out;
			transition-delay: 0.15s;
			color: $title; }

		// Vertical Positioning
		&.top .inner { top: 0; }

		&.middle .inner {
			top: 50%;
			transform: translateY(-50%); }

		&.bottom .inner { bottom: 0; }

		// Horizontal Positioning
		&.left .inner { text-align: left; }
		&.center .inner { text-align: center; }
		&.right .inner { text-align: right; }


		&.double {
			@include span( 2 of 4 );
			padding-bottom: span( 2 of 4 );
		}

		&.double_wide {
			@include span( 2 of 4 );
			padding-bottom: span( 1 of 4 );
		}

		&.double_tall {
			@include span( 1 of 4 );
			padding-bottom: span( 2 of 4 );
		}
	}
}


@media (max-width: 768px) {

	.portfolio {
		.item {
			@include span( 1 of 1 );
			padding-bottom: span( 1 of 1 );

			&.double, &.double_tall, &.double_wide {
				@include span( 1 of 1 );
				padding-bottom: span( 1 of 1 );
			}
		}
	}

}











