/* ==========================================================================
   Variables
   ========================================================================== */

$background: #F38630;
$navBg: #FA6900;
$lighter: #111111;
$highlight: #69D2E7;

$link: #ffffff;
$linkHover: #ffffff;
$title: #fff;
$fadeTitle: #999;
$subTitle: #E0E4CC;


@mixin clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

@mixin font-size($sizeValue: 1.6) {
	font-size: ($sizeValue * 10) + px;
	font-size: $sizeValue + rem;
}