/* ==========================================================================
   Variables
   ========================================================================== */

$background: #ffffff;
$navBg: #FA6900;
$lighter: #111111;
$highlight: #69D2E7;

$asideBg: #FA6900;
$asideText: #fff;

$link: #ffffff;
$linkHover: #ffffff;
$title: #FA6900;
$fadeTitle: #999;
$subTitle: #69D2E7;
$bodyText: #444;

@mixin clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

@mixin font-size($sizeValue: 1.6) {
	font-size: ($sizeValue * 10) + px;
	font-size: $sizeValue + rem;
}